{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block content %}

    <div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
        <ul class="layui-tab-title site-demo-title">
          <li class="layui-this">API 文档</li>
          <li>示例代码</li>
          <li>帮助</li>
        </ul>
        <div class="layui-body layui-tab-content site-demo site-demo-body">
          <div class="layui-tab-item layui-show">
            <div class="layui-main">
              <div id="LAY_preview">
                  <blockquote class="layui-elem-quote">接口信息</blockquote>
                  <table class="layui-table">
                      <colgroup>
                          <col width="350">
                          <col width="550">
                          <col>
                      </colgroup>
                      <thead>
                        <tr>
                            <th>属性</th>
                            <th>值</th>
                            <th>备注</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>接口地址</td>
                            <td>http://172.30.157.96:5000/captcha</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>返回格式</td>
                            <td>json</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>请求方式</td>
                            <td>POST</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>请求示例</td>
                            <td>http://172.30.157.96:5000/captcha?str="the base64Str of your image"</td>
                            <td>str 的值为图片的 base64 加密后的字符串</td>
                        </tr>
                      </tbody>
                  </table>
                  <blockquote class="layui-elem-quote">返回参数说明</blockquote>
                    <table class="layui-table">
                        <colgroup>
                            <col width="350">
                            <col width="350">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>类型</th>
                                <th>说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>data</td>
                                <td>string</td>
                                <td>识别的结果</td>
                            </tr>
                            <tr>
                                <td>status</td>
                                <td>int</td>
                                <td>返回码</td>
                            </tr>
                            <tr>
                                <td>message</td>
                                <td>string</td>
                                <td>返回说明</td>
                            </tr>
                        </tbody>
                    </table>
                  <blockquote class="layui-elem-quote">JSON 返回示例</blockquote>
<pre class="layui-code" lay-title="JSON 示例"  lay-skin="notepad">
{
    "data":"ABCD"
    "status": 200
    "message":"success"
}
</pre>
              </div>

            </div>
          </div>

          <div class="layui-tab-item">
              <div class="layui-main">
                  <blockquote class="layui-elem-quote">Python 示例代码</blockquote>
<pre class="layui-code" lay-skin="notepad" lay-title="Python 示例">
import json
import requests
import logging
import base64


url = 'http://172.30.157.96:5000/captcha?str=' + i['imageBase64']
r = requests.post(url)
result = json.loads(r.text)
for i in result:
    print("data:" + i[data])
    print("status:" + str(i[status])
    print("message:" + i[message])

</pre>
              </div>
          </div>


          <div class="layui-tab-item">
            <div class="layui-main">
                <p>如果在使用过程中有任何问题欢迎发邮件给我们： <a href="mailto:shuiqingliu14@gmail.com">shuiqingliu14@gmail.com</a></p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    layui.use('code',function(){
        layui.code({
            about : false
        });
    });

{% endblock %}

