{% extends "base.html" %}

{% block title %}API 接口测试{% endblock %}
{% block style %}
#pr
{% endblock %}

{% block content %}
      <div class="layui-body">
          <div class="layui-tab-item layui-show" style="margin-top: 20px;">
              <div class="layui-main">
                  <blockquote class="layui-elem-quote">接口测试</blockquote>
                  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                     <legend>图片预览</legend>
                      <div class="layui-field-box">
                          <p id="joke">假装是图片^_^</p>
                          <img id="preview" height="55" width="130">
                      </div>
                  </fieldset>

                  <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
              </div>
          </div>
      </div>
{% endblock %}

{% block script %}
layui.use('upload', function(){
  var upload = layui.upload;
  //执行实例
  var uploadInst = upload.render({
    elem: '#test1' //绑定元素
    ,url: '/captcha/api/upload' //上传接口
    ,done: function(res){
      //上传完毕回调
    }
    ,accept: 'images'
    ,acceptMime: 'image/jpg, image/png'
    ,error: function(){
      //请求异常回调
    }
    ,choose: function(obj){
        var files = obj.pushFile();
        var none = 'none';
        obj.preview(function(index, file, result){
            console.log(index);
            console.log(file);
            console.log(result);
            document.querySelector('#preview').src = result;
            document.querySelector('#joke').style.display = none;
        });
    }
  });
});
{% endblock %}
